Repository mk28/TINF21C_Team2_AAS_digital_nameplate, pull requests merged in 2022-10, with the labels that each got.

#44 Feature/datarefinement
  application/.gitignore
  application/src/DataExtractor.js
  application/src/DataRefinery.js
Labels: team-code

#50 Merge Feature/create UI
  application/package-lock.json
  application/package.json
  application/src/App.css
  application/src/App.js
  application/src/AssetList/AssetList.css
  application/src/AssetList/AssetList.js
  application/src/AssetList/AssetListElement.css
  application/src/AssetList/AssetListElement.js
  application/src/AssetList/ListView.js
  application/src/AssetView/AssetData.js
  application/src/AssetView/AssetView.css
  application/src/AssetView/AssetView.js
  application/src/DataRetrival/DataExtractor.js
  application/src/DataRetrival/DataRefinery.js
  application/src/Homescreen/HomeView.js
  application/src/Searchbar.js
  application/src/ServerAddress.js
  application/src/test/App.test.js
Labels: team-code

#52 Add documents and Meeting protocols to main
  PROJECT/BC/BC_EXCEL_SHEETS/Detailed_Estimation_of_Expenditure_Time.xlsx
  PROJECT/BC/BC_EXCEL_SHEETS/Fix_Costs.xlsx
  PROJECT/BC/BC_EXCEL_SHEETS/Offer.xlsx
  PROJECT/BC/BC_EXCEL_SHEETS/Risks.xlsx
  PROJECT/BC/BC_EXCEL_SHEETS/Variable_Costs.xlsx
  PROJECT/BC/TINF21C_BC_Team_2_1v6.docx
  PROJECT/BC/TINF21C_BC_Team_2_1v6.pdf
  PROJECT/CRS/TINF21C_CRS_Team_2_1v5.docx
  PROJECT/CRS/TINF21C_CRS_Team_2_1v5.pdf
  PROJECT/GANTT_CHARTS/gantt_semester_3.pdf
  PROJECT/GANTT_CHARTS/gantt_semester_4.pdf
  PROJECT/MEETING_PROTOCOLS/protocol_overview.md
  PROJECT/PSP/TINF21C_PSP_Team_2_1v5.docx
  PROJECT/PSP/TINF21C_PSP_Team_2_1v5.pdf
  PROJECT/README.md
  PROJECT/SAS/readme.md
  PROJECT/SRS/TINF21C_SRS_Team_2_1v4.docx
  PROJECT/SRS/TINF21C_SRS_Team_2_1v4.pdf
  PROJECT/SRS/readme.md
  PROJECT/TEMPLATES/protocols_template.md
  PROJECT/TEMPLATES/time_tracking_template.xlsx
  PROJECT/TIME_TRACKING/TABLEAU_TIME_TRACKING_ANALYSIS/readme.md
  PROJECT/TIME_TRACKING/TABLEAU_TIME_TRACKING_ANALYSIS/time_tracking_analysis.twbx
  PROJECT/TIME_TRACKING/time_tracking_AhlemeyerJanin.xlsx
  PROJECT/TIME_TRACKING/time_tracking_KhairiAdrian.xlsx
  PROJECT/TIME_TRACKING/time_tracking_KirschnerSophie.xlsx
  PROJECT/TIME_TRACKING/time_tracking_KochMaris.xlsx
  PROJECT/TIME_TRACKING/time_tracking_KugeMika.xlsx
  PROJECT/TIME_TRACKING/time_tracking_ZhangErika.xlsx
  project/meeting_protocols/protocol_20220911_weekly.md
  project/meeting_protocols/protocol_20220916_weekly.md
  project/meeting_protocols/protocol_20220923_weekly.md
  project/meeting_protocols/protocol_20220924_Subcall.md
  project/meeting_protocols/protocol_20220930_Subcall.md
  project/meeting_protocols/protocol_20220930_weekly.md
  project/meeting_protocols/protocol_20221007_weekly.md
  project/meeting_protocols/protocol_20221014_weekly.md
Labels: documentation, team-formalia

#53 Fix permalinks
  PROJECT/BC/TINF21C_BC_Team_2_1v6.docx
  PROJECT/BC/TINF21C_BC_Team_2_1v6.pdf
Labels: team-formalia
